In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load


# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

These are simple exercises for Python Programming in Scientific Computing

I am following Advanced Pyton Programming course of Mike X Cohen on Udemy

Section 1 - Basics

## New type variable: List with []

In [6]:
aList = [0, 1, 2, 3, 4, 5]
%whos
strList = ["hi", "my", "name", "is", "irem"]
mixList = ["hello", 30]

embedList = [3, [1,2, 'three'], [4,5]]
#  hard to follow list elements, lets dibide them into lines
embedList = [3,
            [1,2, 'three'], # a list 
            [4,5]
            ]
embedList

Variable    Type    Data/Info
-----------------------------
aList       list    n=6
embedList   list    n=3
mixList     list    n=2
strList     list    n=5

[3, [1, 2, 'three'], [4, 5]]

Working with lists:

In [16]:
4 in aList # this is a question to ask whether aList includes 4 in itself -> return True or False
4.5 not in aList # we can use "not in" also

print(aList)
print(strList)

aList + strList

aList * 3 # it repeats the list 3 times, not multiply the elements by 3 
# if you wanted to multiply individual elements, then you should use for loops or numpy arrays

[0, 1, 2, 3, 4, 5]
['hi', 'my', 'name', 'is', 'irem']

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

**Methods of Lists**

In [18]:
aList.append(-100) # whenever I run this code, it adds one more -100
print(aList)

aList.sort() # sort the list itself
print(aList)

newList = [1,5,6,3,2,7,7,7,7,7,3,9,13,34,0]
newList.count(7) # count how many 7s in the list

[-100, 0, 1, 2, 3, 4, 5, -100]
[-100, -100, 0, 1, 2, 3, 4, 5]

5

## New type variable: Tuples with ()
What is the difference between List and Tuple? 
- List is mutable and Tuples are immutable
- Immutable means we cannot change it, once we created it, it is fixed anymore

In [24]:
aTuple = (3,4,3)
aList = [3,4,3]

print(aTuple)
print(aList)

aList[0] = 5 # mutable
# aTuple[0] = 5 # gives error

# but you can assign whole new Tuple
aTuple = (5,'hi', '5')
print(aTuple)

# we can convert tuples into list
newL = list(aTuple)
print(type(newL))
# once we changed it into list, we can change its elements
newL[0] = 'hello list'
print(newL)

(3, 4, 3)
[3, 4, 3]
(5, 'hi', '5')
<class 'list'>
['hello list', 'hi', '5']

Why we have both tuples nad list? why we need them?
- We can think of a tuple as being like a list that has a security measure on it. It has a lock on it. This would be if the information is really important and you don't want it to be modified by accident, maybe this is some original data and you want to make sure that the original data are never modified so you can store the original data as a tuple.
- Then when you need to grab a little bit of data, you need to select a little bit of data. Then you could select that piece of data and turn that into a list so you could continue working with it and changing it or running analysis on it.

**Booleans and Comparisons**

In [29]:
a = 4
b = 8
outcome = a*2 == b # short and clear assignment
print(outcome)

# numbers can be converted boolean
# the only number which is False is 0
# other numbers are True
bool(3543534.345345) # True
bool(0) # False
bool('irem')  # True
bool('') # False
bool(' ') # True

True

False

# New type variable: Dictionary with dict() and it has {}
If you are familiar with Matlab, then Dictionary is similar to Structure in Matlab

In [30]:
D = dict()
D # outputs empty dict as {}

{}

In [32]:
# key/value paits
D['name'] = 'Irem'
D['AgeRange'] = [20, 35]
D # it does not have specific order in keys

{'name': 'Irem', 'AgeRange': [20, 35]}

In [35]:
# we can create dictionary directly
E = {'name': 'irem', 'ageRange': [20,35]}
E

print(E['name']) # calling with square braces like in the list and tuples

irem

In [39]:
print(D.keys())
print('Name' in D) # Returns False bec Keys are Case Sensitive
print('irem' in D) # Returns False bec actually irem is in Dic but this expression searches the Keys!
print(D.values())
print(D.items()) # all items but in a type of List

dict_keys(['name', 'AgeRange'])
False
False
dict_values(['Irem', [20, 35]])
dict_items([('name', 'Irem'), ('AgeRange', [20, 35])])

# Indexing
This is a way to extract specific items out of a list or an array or a string or almost every type of variable.

In [40]:
arange = range(5)
arange # type range from 0 to 5

range(0, 5)

In [41]:
alist = list(arange) # convert range to list
alist

[0, 1, 2, 3, 4]

In [50]:
# python starts counting from 0
# alist = alist + [1,4,0,78,4,5,23]
print(alist)
print(alist[-5])

idx = [3,4]
# alist[idx] # gives an error as indices must be integers or slices, not list

[0, 1, 2, 3, 4, 1, 4, 0, 78, 4, 5, 23, 1, 4, 0, 78, 4, 5, 23, 1, 4, 0, 78, 4, 5, 23]
0

In [51]:
newList = [4,3.2,[1,2,3], 9,8] 
# lets retrieve the inner list
newList[2][1]

2

In [53]:
# indexing works similar in strings also
astr = 'hello'
print(astr[-5])

h

In [54]:
# we can put dictionary into list as well!
listlist = [4, 'hi', ['inner', 'list'], {'dict':1, 'inner': 'dict'}]
print(listlist)

[4, 'hi', ['inner', 'list'], {'dict': 1, 'inner': 'dict'}]

# Slicing

In [61]:
alist = list(range(0,19))
print(alist)
print(alist[0:2]) # second arguments is EXCLUDED
print(alist[2:6])
print(alist[10:]) # until the end
print(alist[:6]) # from the begining 

print(alist[0:10:2]) # third elements is the step size
print(alist[::3]) # gofrom begining to end in step size 3
print(alist[::-5]) # step backwards, it is like sorting in descending

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[0, 1]
[2, 3, 4, 5]
[10, 11, 12, 13, 14, 15, 16, 17, 18]
[0, 1, 2, 3, 4, 5]
[0, 2, 4, 6, 8]
[0, 3, 6, 9, 12, 15, 18]
[18, 13, 8, 3]

# Functions

# Libraries
Python itself does not have many builtin functions which makes it very fast and light, and therefore we use libraries

In [63]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Numpy

In [98]:
print(np.mean(alist)) # can use python list as input to numpy function

nparray = np.array(alist) # convert list to array
print(type(alist))
print(type(nparray))

nparray.mean() # since this is numpy array, we can call the function like this
np.mean(nparray) # this is okey also
# alist.mean() # but list object does not have builtin mean() function in python library
# this function belongs to numpy library, so we cannot call it like this
# but when the object itself is numpy type like np array, we can call it directly

20.0
<class 'list'>
<class 'numpy.ndarray'>

20.0

In [75]:
n = [1,4,5,7,8,9,6,4,2,4,5]
print(n)
n.sort() # this changes n itself even though we did not directly assign to itself
# but some functions does not do that - so we need to know the functions and this propert
print(n)

n = [1,4,5,7,8,9,6,4,2,4,5]
print(type(np.sort(n))) # np.sort() changes it into numpy array

[1, 4, 5, 7, 8, 9, 6, 4, 2, 4, 5]
[1, 2, 4, 4, 4, 5, 5, 6, 7, 8, 9]
<class 'numpy.ndarray'>

# Pandas
This library is important to store data in a table that is easy to work with and easy to look at and easy to extract information from and so on.

In [84]:
# create some random data
var1 = np.random.randn(100)*5 +20 # normal distribution
var2 = np.random.randn(100)>0 

# np.mean(var1)
labels = ["Temp. (C)", "Ice Cream Eaten"]

# create dictionary
D = {labels[0]:var1, labels[1]:var2} 
D # very hard to read

{'Temp. (C)': array([ 9.80390664, 16.87235403, 17.22320127, 19.30708006, 13.44351224,
        15.53731248, 16.76433747, 18.21894443, 13.93109727, 21.38110459,
        26.78134757, 14.66823254, 14.11701016, 19.27390609, 25.28206455,
        21.00212294, 24.97607671, 26.68939985, 17.96909784, 17.57734631,
        22.77700515, 22.30902527, 20.43933696, 23.14098289, 20.75971148,
        22.04697264, 18.30906041, 18.00191532, 20.23932878, 17.71114713,
        18.02153298, 24.7468616 , 14.59583024, 24.34126493, 29.01554049,
        15.04472233, 23.76910508, 17.70425126, 23.09764083, 23.23136961,
        14.46789009, 21.32155109, 15.29539265, 23.56009589, 13.18428777,
        23.69156428, 16.69468337, 15.54477011, 21.83929167, 27.05962358,
        21.39913727, 17.96757752, 21.48861731, 20.71359709, 23.36626789,
        22.63560981, 16.15367864, 18.23413995, 19.63329204, 21.47504547,
        24.75049785, 29.91938534, 19.34353816, 34.47700777, 19.15698275,
        10.99712903, 14.00238137, 18.19154951, 13.14220736, 21.99600508,
        26.32482194, 21.15994663, 20.90501892, 22.45466586, 11.22408079,
        17.1960639 , 15.37654736,  6.92713026, 29.67172298, 24.04731096,
         9.4575091 , 21.80649495, 21.69413858,  9.72933045, 24.02386186,
        18.66955264, 15.16089356, 27.82856075, 15.73232638, 17.54704589,
        14.99661841, 17.44519157, 16.82246411,  9.893198  , 20.36906612,
        16.09777357, 13.12982844, 11.74963774, 20.11410299, 25.95179683]),
 'Ice Cream Eaten': array([ True,  True, False, False,  True,  True, False,  True, False,
         True, False,  True,  True,  True,  True, False,  True,  True,
         True,  True,  True,  True,  True,  True,  True, False,  True,
         True,  True,  True,  True, False,  True,  True,  True, False,
         True, False,  True,  True,  True, False,  True, False, False,
        False,  True,  True, False,  True, False, False,  True, False,
        False, False, False, False,  True, False, False, False, False,
        False,  True, False,  True, False, False,  True,  True, False,
         True,  True,  True, False, False,  True,  True,  True,  True,
         True,  True,  True,  True,  True, False, False, False, False,
         True, False, False, False,  True,  True, False,  True, False,
         True])}

In [88]:
# change dictionary into pandas dataframe
df = pd.DataFrame(data=D)
df # looks nice , default: first 5 rows and last 5 rows

    Temp. (C)  Ice Cream Eaten
0    9.803907             True
1   16.872354             True
2   17.223201            False
3   19.307080            False
4   13.443512             True
..        ...              ...
95  16.097774             True
96  13.129828            False
97  11.749638             True
98  20.114103            False
99  25.951797             True

[100 rows x 2 columns]

In [89]:
df.head(12) # first 12 rows

   Temp. (C)  Ice Cream Eaten
0   9.803907             True
1  16.872354             True
2  17.223201            False
3  19.307080            False
4  13.443512             True

In [90]:
df.count() # to check whether we have missing values in dataset

Temp. (C)          100
Ice Cream Eaten    100
dtype: int64

In [104]:
# exercise: create a pandas dataframe with three variables:
# 1) integers from 0 to 10
# 2) their square
# 3) their log

int_nums = np.array(range(1,11))
int_nums.mean()
D = {'integers': int_nums, 'squares': int_nums**2, 'logs': np.log(int_nums)}
df = pd.DataFrame(data=D)

df # if I write print(df), the output become in worse shape
# square_nums = np.square(int_nums) # I expect them to be writable as int_nums.square()
# log_nums = np.log(int_nums) # I expect them to be writable as int_nums.log()
# because int_num is a ndarray so it can call np objects directly
# explanation below:

   integers  squares      logs
0         1        1  0.000000
1         2        4  0.693147
2         3        9  1.098612
3         4       16  1.386294
4         5       25  1.609438
5         6       36  1.791759
6         7       49  1.945910
7         8       64  2.079442
8         9       81  2.197225
9        10      100  2.302585

The difference in how you can call certain NumPy functions like `mean()` and `square()` is due to how they are implemented in NumPy.

1. **Direct method call (`a.mean()`)**: Some functions in NumPy are implemented as methods directly on NumPy arrays. These methods are designed to be convenient for common operations and often provide more functionality or customization options compared to their counterparts in the `np` namespace. For example, `mean()` is implemented as a method of NumPy arrays, allowing you to directly call `a.mean()` to compute the mean of the array `a`.

2. **Using `np` namespace (`np.square(a)`)**: Other functions in NumPy are implemented as standalone functions in the NumPy namespace (`np`). These functions are designed to work with various types of inputs, not just NumPy arrays. Therefore, you need to explicitly specify the input as an argument to the function when using it. For example, `np.square()` is a standalone function that computes the element-wise square of an array. To use it, you need to pass the array `a` as an argument: `np.square(a)`.

To determine which approach to use, you can consult the NumPy documentation or use auto-completion in your integrated development environment (IDE) or text editor. Typically, functions implemented as methods of NumPy arrays (like `mean()`, `sum()`, `max()`, etc.) are designed for convenience and readability when working directly with arrays, while functions in the `np` namespace are more general-purpose and can accept a wider range of inputs.